<%= form_for(@model) do |f| %>
  <% if @model.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@model.errors.count, "error") %> prohibited this model from being saved:</h2>

      <ul>
      <% @model.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :brand_id %><br>
    <%= f.collection_select(:brand_id, Brand.all, :id, :name) %>
  </div>
  
  <div class="field">
    <%= f.label :device_type_id %><br>
    <%= f.collection_select(:device_type_id, DeviceType.all, :id, :classification) -%>
  </div>
  
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :code %><br>
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label :alternative %><br>
    <%= f.text_field :alternative %>
  </div>
  
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
