<p id="notice"><%= notice %></p>

<h1>Listing Models</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Brand</th>
      <th>Name</th>
      <th>Code</th>
      <th>Alternative</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @models.each do |model| %>
      <tr>
      <td><%= model.brand ? model.brand.name : "No brand" %></td>
        <td><%= model.name %></td>
        <td><%= model.code %></td>
        <td><%= model.alternative %></td>
        <td><%= link_to 'Show', model %></td>
        <td><%= link_to 'Edit', edit_model_path(model) %></td>
        <td><%= link_to 'Destroy', model, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Model', new_model_path %>
