<p id="notice"><%= notice %></p>


<div class="row">
  <% if @device_type %>
  <%= render("shared/device_type_card", device_type: @device_type, size: :condensed ) -%>
  <% end %>
  <% if @brand %>
  <%= render("shared/brand_card", brand: @brand, size: :condensed ) -%>
  <% end %>
  <%= render("shared/model_card", model: @model, size: :condensed ) -%>
</div>

<div class="row">
  <div class="col-md-8">
    <% if @group %>
      <h2><%= @group.name -%>: <%= @group.value -%></h2>
      <p class="lead"><%= @group.description %></p>
    <% end %>
  </div>

  <div class="col-md-4 well">
  <ul class="list-unstyled">
  <% @model.all_groups.group_by{ |group| group.name }.each do |name, groups| %>
    <li><strong><%= name -%></strong> <%= link_to( "(All)", model_path(@model.id, brand: @brand.id, device_type: @device_type.id )) -%></li>
    <ul>
    <% groups.each do |group| %>
    <li><%= link_to( group.value, model_path( @model.id, group: group.id, brand: @brand.id, device_type: @device_type.id) ) -%></li>
    <% end %>
  </ul>

  <% end %>
  </ul>
  </div>
</div>


<div class="row">
</div>
    
<div class="row">
  <% @devices.each do |device| %>
    <%= render("shared/device_card", device: device, size: :full ) -%>  
  <% end %>

</div>
  

<%= link_to 'Edit', edit_model_path(@model) %> |
<%= link_to 'Back', models_path %>
