<p id="notice"><%= notice %></p>

<div class="row">
  <% if @device_type %>
  <%= render("shared/device_type_card", device_type: @device_type, size: :condensed, card_link: '/browse?' ) -%>
  <% end %>
</div>
<div class="row">
  <%= render("shared/brand_card", brand: @brand, size: :condensed, card_link: brands_path( device_type: @device_type) ) -%>
</div>
<div class="row">
  <%= render("shared/model_card", model: @model, size: :condensed, card_link: brand_path( @brand, device_type: @device_type ) ) -%>
</div>

<div class="row">
  <div class="col-md-8">
    <% if @group %>
      <h2><%= @group.name -%>: <%= @group.value -%></h2>
      <p class="lead"><%= @group.description %></p>
    <% else %>
      <p class="lead">All <%= @model.name -%> devices</p>      
    <% end %>
  </div>

  <div class="col-md-4">
  <ul class="list-unstyled list-group">
  <% @model.all_groups.group_by{ |group| group.name }.each do |name, groups| %>
    <li class="list-group-item"><strong><%= name -%></strong> <%= link_to( "(All)", model_path(@model.id, brand: @brand.id, device_type: @device_type.id, card_link: '' )) -%></li>
    <ul class="list-unstyled list-group  card-control">
    <% groups.each do |group| %>
    <li class="list-group-item"><%= link_to( group.value, model_path( @model.id, group: group.id, brand: @brand.id, device_type: @device_type.id, card_link: '') ) -%></li>
    <% end %>
  </ul>

  <% end %>
  </ul>
  </div>
</div>

<br />

<div class="row">
  <% @devices.each do |device| %>
    <%= render("shared/device_card", device: device, size: :full, card_link: '' ) -%>  
  <% end %>

</div>
  

<%= link_to 'Edit', edit_model_path(@model) %> |
<%= link_to 'Back', models_path %>

<script>
  add_links_to_cards();
</script>
