<div class="row">
  <div class="col-xs-2"><span class="label label-default">Version</span></div>
  <div class="col-xs-2"><span class="label label-primary"><%= device.plugin.version -%></span></div>
</div>

<div class="row">
  <div id="load_label_<%= device.id -%>" class="col-xs-2"><span class="label label-default">Load</span></div>
  <% ld = device.latest_stat(label: 'Load average') %>
  <% nproc = device.latest_stat(label: 'Processor count', default: 1) %>
  <% load_warn = device.latest_stat(label: 'Load average warning threshold', default: 0.7) %>
  <% load_err = device.latest_stat(label: 'Load average error threshold', default: 1.5) %>
  <% chart_svg = "load_chart_#{device.id}" %>

  <% if ld.nil? %>
    <% state = 'info' %>
  <% elsif ld/nproc < load_warn %>
    <% state = 'success' %>
  <% elsif ld/nproc < load_err %>
    <% state = 'warning' %>
  <% else %>
    <% state = 'danger' %>
  <% end %>

  <div class="col-xs-2"><span id="stat_box" class="label label-<%= state -%>"><span id="stat_figure"><%= ld ? '%.2f' % ld : '?' -%></span> / <%= nproc -%></span></div>
  <div class="col-xs-8"><svg id="<%= chart_svg -%>" width="20px" height="5px"></svg></div>
</div>

<script type="text/javascript">
  data_url = "/api/device_statistics/stats/<%= device.id -%>/Load average/60";

  updateGraph = function() {
    $.ajax({
      type: 'GET',
      url: data_url + '#' + (Math.floor(Math.random() * 1000000) + 1),
      success: function(data) {
        load_graph(
          "#load_chart_" + <%= device.id -%>,
          data['data'],
          <%= nproc -%>,
          <%= load_warn -%>,
          <%= load_err -%>,
          document.getElementById("load_chart_" + <%= device.id -%>).parentNode.offsetWidth * 0.9,
          document.getElementById("load_label_" + <%= device.id -%>).parentNode.offsetHeight * 0.85
        );
        currentLoad =  parseFloat(data['data'][data['data'].length - 1]);
        loadBox = document.getElementById("stat_box");
        if (currentLoad/<%= nproc -%> < <%= load_warn -%> ) {
          loadBox.className = 'label label-success';
        } else if (currentLoad/<%= nproc -%> < <%= load_err -%> ) {
          loadBox.className = 'label label-warning';
        } else {
          loadBox.className = 'label label-danger';
        }

        document.getElementById("stat_figure").innerHTML = parseFloat(data['data'][data['data'].length - 1]).toFixed(2);
        setTimeout(updateGraph, 5000);
      },
    }).fail(function(XMLHttpRequest, textStatus, errorThrown) {
      loadBox = document.getElementById("stat_box").className = 'label label-default';
      setTimeout(updateGraph, 5000);
    });



  };
  setTimeout(updateGraph, 5000);
</script>

<div class="row">
  <div class="col-xs-2"><span class="label label-default">Plugins</span></div>
  <div class="col-xs-10">
    <div class="row">
    <% device.plugin.runner_plugins.each_pair do |p, v| %>
      <div class="col-xs-12"><span class="label label-primary"><%= p -%> (<%= v -%>)</span></div>
    <% end %>
    </div>
  </div>
</div>

<% device.plugin.connected_devices.each do |d| %>
  <div class="inner-device col-xs-6 label-status label-<%=d.status.to_s-%>">
  <% if d.status != :happy %>
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <% end %>
  <span id="device-<%=d.id-%>"
        data-device-name="<%=d.name-%>"
        data-device-model="<%=d.model.best_name-%>"
        class="mini-device-details" >
        <%= link_to d.name, device_path(d) %></span>
  </div>
<% end %>
