<div class="row">
  <div class="col-xs-2"><span class="label label-default">Version</span></div>
  <div class="col-xs-2"><span class="label label-primary"><%= device.plugin.version -%></span></div>
</div>

<div class="row">
  <div id="load_label_<%= device.id -%>" class="col-xs-2"><span class="label label-default">Load</span></div>
  <% ld = device.latest_stat(label: 'Load average') %>
  <% nproc = device.latest_stat(label: 'Processor count', default: 1) %>
  <% load_warn = device.latest_stat(label: 'Load average warning threshold', default: 0.7) %>
  <% load_err = device.latest_stat(label: 'Load average error threshold', default: 1.5) %>
  <% chart_svg = "load_chart_#{device.id}" %>

  <% if ld.nil? %>
    <% state = 'info' %>
  <% elsif ld/nproc < load_warn %>
    <% state = 'success' %>
  <% elsif ld/nproc < load_err %>
    <% state = 'warning' %>
  <% else %>
    <% state = 'danger' %>
  <% end %>

  <div class="col-xs-2"><span id="stat_box_<%= device.id -%>" class="label label-<%= state -%>"><span id="stat_figure_<%= device.id -%>"><%= ld ? '%.2f' % ld : '?' -%></span> / <%= nproc -%></span></div>
  <div class="col-xs-8"><svg id="<%= chart_svg -%>" width="20px" height="5px"></svg></div>
</div>

<script type="text/javascript">
  initialize_graph("#load_chart_" + <%= device.id -%>,
          document.getElementById("load_chart_" + <%= device.id -%>).parentNode.offsetWidth * 0.9,
          document.getElementById("load_label_" + <%= device.id -%>).parentNode.offsetHeight * 0.85
      );
  setTimeout(updateGraph, 5000, <%= device.id -%>, <%= nproc -%>, <%= load_warn -%>, <%= load_err -%>);
</script>

<div class="row">
  <div class="col-xs-2"><span class="label label-default">Plugins</span></div>
  <div class="col-xs-10">
    <div class="row">
    <% device.plugin.runner_plugins.each_pair do |p, v| %>
      <div class="col-xs-12"><span class="label label-primary"><%= p -%> (<%= v -%>)</span></div>
    <% end %>
    </div>
  </div>
</div>

<div class="row">
<% side = 0 %>
<% device.plugin.connected_devices.each do |d| %>
  <% if side == 2 %>
</div>
<div class="row">
    <% side = 1 %>
  <% else %>
    <% side += 1 %>
  <% end %>
    <div class="btn-group btn-group-xs col-xs-6" role="group">
      <a href="<%= device_path(d) %>" role="button" class="btn btn-<%= state_to_bootstrap_label d.log_state_level %> col-xs-2">
        <span class="glyphicon glyphicon-info-sign" aria-hidden="false">
          <span class="sr-only">Runner state of <%= d.name %> is <%= d.log_state_label %></span>
        </span>
      </a>
      <a href="<%= device_path(d) %>" role="button" class="btn btn-primary col-xs-10">
        <span id="device-<%=d.id-%>"
          data-device-name="<%=d.name-%>"
          data-device-model="<%=d.model.best_name-%>"
          class="mini-device-details" >
          <%= d.name %></span>
      </a>
    </div>
<% end %>
</div>
