<p id="notice"><%= notice %></p>

<% @devices.each do |device| %>
    
  <div class="row">
  <%= render("shared/device_card", device: device, size: :condensed, card_link: '' ) -%>

    <div class="btn-group">
      <div class="btn btn-default"><%= link_to 'Show', device %></div>
      <div class="btn btn-default"><%= link_to 'Edit', edit_device_path(device) %></div>
      <div class="btn btn-default"><%= link_to 'Delete', device, method: :delete, data: { confirm: 'Are you sure?' } %></div>
    </div>
    </div>
<% end %>

<br>

<%= link_to 'New Device', new_device_path %>
