<p id="notice"><%= notice %></p>

<div class="row">
<%= render("shared/device_card", device: @device, size: :condensed, card_link: '' ) -%>  
</div>




<div class="row">

<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
  <li class="active"><a href="#info" role="tab" data-toggle="tab">Details</a></li>
  <li><a href="#logs" role="tab" data-toggle="tab">Logs</a></li>
  <li><a href="#actions" role="tab" data-toggle="tab">Actions</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div role="tabpanel" class="tab-pane fade in active" id="info">
    Info
  </div>
  <div role="tabpanel" class="tab-pane fade" id="logs">
    Logs
  </div>
  <div role="tabpanel" class="tab-pane fade" id="actions">
    <% if @device.plugin %>
    <%= render("shared/#{@device.device_type.downcase}_plugin_action_partial", device: @device) rescue nil -%>
    <% end %>
  </div>
</div>




  <ul class="list-unstyled">
  <% @device.groups.each do |group| %>
  <li><%= group.name %>: <strong><%= group.value %></strong></li>
  <% end %>
  </li>
  </ul>
</div>

<div class="row">
<%= link_to 'Edit', edit_device_path(@device) %>
</div>
