<input type="hidden" id="device_id" value="<%= @device.id %>">

<div class="row">
<%= render("shared/device_card", device: @device, size: :edit, card_link: '' ) -%>
  <% if @device.plugin %>
  <div><%= render("shared/#{@device.device_type.downcase}_plugin_screenshot_partial", device: @device) rescue nil -%></div>
  <% end %>
</div>


<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
  <li class="active"><a href="#info" role="tab" data-toggle="tab">Details</a></li>
  <li><a href="#actions" role="tab" data-toggle="tab">Actions</a></li>
  <li><a href="#hive" role="tab" data-toggle="tab">Hive</a></li>
  <li><a href="#status" role="tab" data-toggle="tab">Status</a></li>
  <li><a href="#diagnostic" role="tab" data-toggle="tab">Diagnostics</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  
<!-- Details tab -->
  <div role="tabpanel" class="tab-pane fade in active" id="info">
    <br />
    <table class="table">
      <tr>
        <th>State</th>
        <td><div class='col-sm-3'><%= state_span @device.log_state_level, @device.log_state_label %></td>
      </tr>
    <% @device.details.each do |k,v| %>
      <tr>
      <th><%= k -%></th>
      <td>
      <% if v.class == Array %>
        <% v.each do |i| %>
          <%= i %><br />
        <% end %>
      <% elsif v.class == Hash %>
        <% v.each do |a,b| %>
          <%= "#{a}: #{b}" %><br />
        <% end %>
      <% else %>
        <%= v -%>
      <% end %>
      </td>
      </tr>
    <% end %>
    </table>
  </div>

<!-- Actions tab -->
  <div role="tabpanel" class="tab-pane fade" id="actions">
    <% if @device.plugin %>
        <%= render("shared/#{@device.device_type.downcase}_plugin_action_partial", device: @device) rescue nil -%>
    <% end %>
  </div>

<!-- Hive tab -->
  <div role="tabpanel" class="tab-pane fade" id="hive">
    <br />
    <table class="table">
      <tr>
        <th class="col-md-1">Hive</th>
        <td>
          <div class="dropdown">
            <% h = HiveMindHive::Plugin.find_by_connected_device(@device) %>
            <button id="select-hive" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><%= h.nil? ? '[Disconnected]' : h.name %>
            <span class="caret"></span></button>
            <ul class="dropdown-menu hive-select-menu">
              <input type="hidden" class="hive_id" value="<%= h.nil? ? nil : h.id     %>">
              <li><a href="#" id="disconnect">[Disconnected]</a></li>
              <% all_hives.each do |h| %>
              <li><a href="#" id="<%=h.id %>"><%= h.name %></a></li>
              <% end %>
            </ul>
          </div>
        </td>
      </tr>
      <tr>
        <th class="col-md-1">Queues</th>
        <td>
          <select id="hive-queues" multiple="multiple" onchange="hive_queues_update()">
          <% HiveQueue.all.each do |hq| %>
            <option value="<%= hq.name %>"<%= (@device.hive_queues.include? hq) ? ' selected="selected"' : '' %>><%= hq.name %></option>
          <% end %>
            <option id="new-hive-queue" value="Enter new queue name ...">Enter new queue name ...</option>
          </select>
        </td>
      </tr>
    </table>
    <script type="text/javascript">
      $(document).ready(function() {
        $('#hive-queues').multiselect('select', null, true);
      });
    </script>
  </div>

<!-- Status tab -->
  <div role="tabpanel" class="tab-pane fade" id="status">
    <table class="table">
      <thead>
        <tr>
          <th class='col-sm-1'>Severity</th>
          <th class='col-sm-3'>Component</th>
          <th class='col-sm-6'>Message</th>
          <th class='col-sm-2'>Timestamp</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class='col-sm-1'><%= state_span @device.heartbeat_state.state, @device.heartbeat_state.state_label %></td>
          <td class='col-sm-3'>Heartbeat</td>
          <td class='col-sm-6'>Time since last heartbeat: <%= @device.heartbeats.last ? distance_of_time_in_words(@device.heartbeats.last.created_at, Time.now) : '?' %></td>
          <td class='col-sm-2'><%= @device.heartbeats.last ? @device.heartbeats.last.created_at : '?' %></td>
        </tr>
    <% prev = nil %>
    <% i = 0 %>

    <% @device.device_states.reverse.each do |s| %>
        <% if !prev %>
            <% i = i + 1 %>
        <% elsif prev.message == s.message %>
            <% i = i + 1 %>
        <% else %>
          <tr>
            <td class='col-sm-1'><%= state_span prev.state, prev.state_label %></td>
            <td class='col-sm-3'><%= prev.component %></td>
             <% if i > 1 %>
              <td class='col-sm-6'><%= prev.message %> (Repeated <%= i %> times) </td>
             <% else %>
              <td class='col-sm-6'><%= prev.message %> </td>
             <% end %>
            <td class='col-sm-2'><%= prev.created_at %></td>
            <% i = 0 %>
          </tr>
        <% end %>
        <% prev = s %>
    <% end %>

      </tbody>
    </table>
  </div>


<!-- Diagnostic tab -->
  <div role="tabpanel" class="tab-pane fade" id="diagnostic">
    <table class="table">
      <thead>
          <tr> 
            <th class='col-sm-1'>Parameter</th>
            <th class='col-sm-3'>Value</th>
          </tr>
      </thead>
      <tbody>
         <% @device.device_statistics.select(:label).distinct.each do |a| %>
          <tr>
            <td class='col-sm-1'> <%= @device.device_statistics.where(:label => a.label).last.label %> </td>
            <td class='col-sm-3'> <%= @device.device_statistics.where(:label => a.label).last.value %> <%= @device.device_statistics.where(:label => a.label).last.unit %></td>
          </tr>
         <% end %>
      </tbody>
    </table>
  </div>

</div>

