<p id="notice"><%= notice %></p>

<div class="row">
<%= render("shared/device_card", device: @device, size: :condensed, card_link: '' ) -%>  
<div class="btn btn-default pull-right"><%= link_to 'Edit', edit_device_path(@device) %></div>
</div>

<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
  <li class="active"><a href="#info" role="tab" data-toggle="tab">Details</a></li>
  <li><a href="#actions" role="tab" data-toggle="tab">Actions</a></li>
  <li><a href="#hive" role="tab" data-toggle="tab">Hive</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  
<!-- Details tab -->
  <div role="tabpanel" class="tab-pane fade in active" id="info">
    <br />
    <table class="table">
    <% @device.details.each do |k,v| %>
      <tr>
      <th><%= k -%></th>
      <td>
      <% if v.class == Array %>
        <% v.each do |i| %>
          <%= i %><br />
        <% end %>
      <% elsif v.class == Hash %>
        <% v.each do |a,b| %>
          <%= "#{a}: #{b}" %><br />
        <% end %>
      <% else %>
        <%= v -%>
      <% end %>
      </td>
      </tr>
    <% end %>
    </table>
  </div>

<!-- Actions tab -->
  <div role="tabpanel" class="tab-pane fade" id="actions">
    <% if @device.plugin %>
    <%= render("shared/#{@device.device_type.downcase}_plugin_action_partial", device: @device) rescue nil -%>
    <% end %>
  </div>

<!-- Hive tab -->
  <div role="tabpanel" class="tab-pane fade" id="hive">
    <br />
    <table class="table">
      <tr>
        <th>Queues</th>
        <td>
          <input type="hidden" id="device_id" value="<%= @device.id %>">
          <select id="hive-queues" multiple="multiple" onchange="hive_queues_update()">
          <% HiveQueue.all.each do |hq| %>
            <option value="<%= hq.name %>"<%= (@device.hive_queues.include? hq) ? ' selected="selected"' : '' %>><%= hq.name %></option>
          <% end %>
            <option id="new-hive-queue" value="Enter new queue name ...">Enter new queue name ...</option>
          </select>
        </td>
      </tr>
    </table>
    <script type="text/javascript">
      $(document).ready(function() {
        $('#hive-queues').multiselect('select', null, true);
      });
    </script>
  </div>

</div>



  <ul class="list-unstyled">
  <% @device.groups.each do |group| %>
  <li><%= group.name %>: <strong><%= group.value %></strong></li>
  <% end %>
  </li>
  </ul>
</div>

