<div class="card card-brand card-brand-<%=brand.name.downcase-%> panel panel-default col-lg-3 col-md-4 col-sm-6 col-xs-12"
     href=<%=card_link-%> >                                                            
  <div class="panel-body">
    <span class="badge pull-right"><%= brand.device_count -%></span>
    <h1><%= link_to brand.name, card_link -%></h1>
    <% if size != :condensed %>
    <% if brand.code && brand.code != '' %>
    <p class="lead"><code><%= brand.code -%></code></p>
    <% end %>
    <p><%= brand.models.count -%> associated models</p>
    
    <div class="card-buttons pull-right">
      <%= link_to raw('<button class="btn btn-default"><span class="glyphicon glyphicon-edit" aria-hidden="true"></button>'), edit_brand_path(brand) %>
    </div>

    <% end %>
  </div>
</div>
