    <div class="card card-device panel panel-default col-lg-3 col-md-4 col-sm-6 col-xs-12"
         href="<%= device_path(device) %>" >
      <div class="panel-body">
        
        <% if size == :full %>
        <div class="pull-right">
        <span class="label label-default"><%= device.status -%></span>
        <br />
        <span class="label label-primary"><%= device.asset_id -%></span>
        </div>
        <% end %>
        <h2><%= device.name -%></h2>
        <p class="lead"><code><%= device.serial -%></code></p>

        <% if size == :full %>
        <% if device.plugin %>
        <%= render("shared/#{device.device_type.downcase}_plugin_partial", device: device) rescue nil -%>
        <% end %>
        <p>
          <ul class="list-unstyled">
          <% device.groups.each do |group| %>
          <li><%= group.name %>: <strong><%= group.value %></strong></li>
          <% end %>
          </li>
          </ul>
        </p>
        <% end %>
      </div>
    </div>
