    <div class="card card-device panel panel-default col-lg-3 col-md-4 col-sm-6 col-xs-12"
         href="<%= device_path(device) %>" >
      <div class="card-body">
        
        <div class="row card-info-banner">
          <div class="pull-right">
          <% if device.asset_id && !device.asset_id.empty? %>
          <span class="label label-warning">Asset: <%= device.asset_id -%></span>
          <% end %>
          <%= status_label(device.status) %>
          <span class="label label-primary"><span class="glyphicon glyphicon-eye-open"></span> <%= device.heartbeats.count > 0 ? mini_duration(device.heartbeats.last.created_at) : '-' -%></span>
          <span class="device-id label"><%= device.id -%></span>
          </div>
        </div>
        
        
        <h2><%= device.name -%></h2>
        <% if device.serial && !device.serial.empty? %>
        <p class="lead"><code><%= device.serial -%></code></p>
        <% end %>
      
        <p><%= device.model.brand.best_name %> <%= device.model.best_name %>
        <% if device.operating_system && device.operating_system.name %>
        - <em><%= display_operating_system(device) %></em>
        <% end %>
        </p>
        
        <% if size != :condensed %>
          <% if device.plugin %>
            <%= render("shared/#{device.device_type.downcase}_plugin_partial", device: device) rescue nil -%>
          <% end %>
          <p>
            <ul class="list-unstyled">
            <% device.groups.each do |group| %>
              <li><%= group.name %>: <strong><%= group.value %></strong></li>
            <% end %>
            </li>
            </ul>
          </p>
        <% end %>
      
      <% if size == :edit %>
        <div class="card-buttons pull-right">
      <%= link_to raw('<button class="btn btn-default"><span class="glyphicon glyphicon-edit" aria-hidden="true"></button>'), edit_device_path(device) %>
        </div>
      <% end %>

      
      </div>
    </div>
