<div class="card card-model panel panel-default col-lg-3 col-md-4 col-sm-6 col-xs-12"
  href="<%= card_link -%>" >
  <div class="panel-body">
    
    <span class="badge pull-right"><%= model.device_count -%></span>
    
    <h1><%= model.best_name -%></h1>
    <% if model.display_name && !model.display_name.empty? && model.display_name != model.name %>
    <h2 class="lead"><code><%= model.name -%></code></h2>
    <% end %>
  
    <div class="card-buttons pull-right">
    <%= link_to raw('<button class="btn btn-default"><span class="glyphicon glyphicon-edit" aria-hidden="true"></button>'), edit_model_path(model) %>
    </div>
  
  </div>
</div>