<%= form_for(@device_type) do |f| %>
  <% if @device_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@device_type.errors.count, "error") %> prohibited this device_type from being saved:</h2>

      <ul>
      <% @device_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group row">
    <%= f.label :classification, class: 'col-sm-2 form-control-label' %>
    <div class="col-sm-10">
      <%= f.text_field( :classification, class: 'form-control' ) %>
    </div>
  </div>
  <div class="field form-group row">
    <%= f.label :description, class: 'col-sm-2 form-control-label' %><br>
    <div class="col-sm-10">
      <%= f.text_area( :description, class: 'form-control' ) %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit( class: 'btn btn-default') %>
  </div>
<% end %>
