<p id="notice"><%= notice %></p>

<h1>Listing Device Types</h1>

<table>
  <thead>
    <tr>
      <th>Classification</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @device_types.each do |device_type| %>
      <tr>
        <td><%= device_type.classification %></td>
        <td><%= device_type.description %></td>
        <td><%= link_to 'Show', device_type %></td>
        <td><%= link_to 'Edit', edit_device_type_path(device_type) %></td>
        <td><%= link_to 'Destroy', device_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Device type', new_device_type_path %>
