<p id="notice"><%= notice %></p>

<div class="row">
  <% if @device_type %>
  <%= render("shared/device_type_card", device_type: @device_type, size: :condensed, card_link: '/browse?' ) -%>
  <% end %>
</div>
<div class="row">
  <%= render("shared/brand_card", brand: @brand, size: :condensed, card_link: brands_path( device_type: @device_type) ) -%>
</div>


<div class="row">
  <% @brand.models.each do |model| %>
    <%= render("shared/model_card", model: model, size: :full, card_link: model_path(model.id, device_type: @device_type, brand: @brand) )  -%>
  <% end %>
</div>

<br />
<hr />

<% if @devices %>
<div class="row">
  <% @devices.each do |device| %>
    <%= render("shared/device_card", device: device, size: :full ) -%>  
  <% end %>
</div>
<% end %>


<script>
  add_links_to_cards();
</script>