
<% if @device_type %>
<div class="row">
  <%= render("shared/device_type_card", device_type: @device_type, size: :condensed, card_link: '/browse?' ) -%>
</div>
<% end %>
<div class="row">
  <%= render("shared/brand_card", brand: @brand, size: :condensed, card_link: brands_path( device_type: @device_type) ) -%>
</div>


<% if @models %>
<div class="row">
  <% @models.each do |model| %>
    <%= render("shared/model_card", model: model, size: :full, card_link: model_path(model.id, device_type: @device_type, brand: @brand) )  -%>
  <% end %>

  <% if Rails.application.config.manual_creation %>  
  <%= link_to( raw('<button class="btn btn-default"><span class="glyphicon glyphicon-plus" aria-hidden="true"></button>'), new_model_path( brand: @brand, device_type: @device_type) ) %>
  <% end %>

</div>

<br />
<hr />

<% end %>

<% if @devices %>
<div class="row device-row">
  <% @devices.each do |device| %>
    <%= render("shared/device_card", device: device, size: :full ) -%>  
  <% end %>
</div>
<% end %>


<script>
  add_links_to_cards();
  equalize_card_heights('.card-device-type');
  equalize_card_heights('.card-device');
  equalize_card_heights('.card-brand');
  equalize_card_heights('.card-model');
</script>
